{% extends 'base.html.twig' %}

{% block body %}





        <form class= style="max-width: 25rem;">
             <h1>Connexion!</h1>

                {% if error %}
                    <span class="error"> {{ error.messageKey }}</span>
                {% endif %}

                <div class="form-row border border-primary jumbotron" >
                    <div class="form-group col-md-10">


                        <div class="well">
                             <form action="{{ path('security_login') }}" method="POST">
                                 <fieldset>

                                        <div class="form-group">
                                            <label for="_username"> Identifiant </label>
                                                <input placeholder="Adresse email..." required name="_username" type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label for="_password"> Mot de passe </label>
                                            <input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
                                        </div>

                                         <div class="form-group">
                                            <button type="submit" class="btn btn-outline-primary">
                                             {#<i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}#}
                                                connectez-vous
                                            </button>
                                        </div>
                                 </fieldset>
                             </form>
                        </div>
                    </div>
                </div>
        </form>

{% endblock %}