{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enregistrer un nouveau compte employé</h1>

    {{ form_start(form) }}
    <div class="form-row border border-primary jumbotron" >
        <div class="form-group col-md-10">
            <div class="well">
                <fieldset>
                    {{ form_widget(form) }}
                </fieldset>

    <button type="submit" class="btn btn-primary"> Enregistrer </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}