{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enregistrer un nouveau compte employé</h1>

    {{ form_start(form) }}
    <div class="form-row border border-primary jumbotron" >
        <div class="form-group col-md-10">

                <fieldset>

                    {{ form_widget(form) }}



    <button type="submit" class="btn btn-primary">
        {% if editMode %}
        Enregistrer les modifications

        {% else %}
            Ajouter l'employé
        {% endif %}

    </button>
                </fieldset>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}