{% extends 'base.html.twig' %}


{% block body %}

    <h1>Creation d'incidents</h1>

    {{ form_start(incidentsForm) }}
        {{ form_widget(incidentsForm) }}

        <button type="submit" class="btn btn-primary">
            {% if editMode %}
            Enregistrer les modifications
            {% else %}
            Ajouter un incident
            {% endif %}
        </button>
    {{ form_end(incidentsForm) }}

{% endblock %}
