{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="display-4"  > bienvenue sur Idesk </h1>
        <blockquote>
        <div class="card text-white bg-primary mb-3 d-inline-block" style="max-width: 20rem;">
            <div class="card-header">Nouveaux incidents</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>


        <div class="card text-white bg-success mb-3 d-inline-block" style="max-width: 20rem;">
            <div class="card-header">Incidents résolus</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>


        <div class="card bg-light mb-3 d-inline-block" style="max-width: 20rem;">
            <div class="card-header">Incidents en cours</div>
            <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card text-white bg-danger mb-3 d-inline-block" style="max-width: 20rem;">
            <div class="card-header">Incidents critique</div>
            <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
        </blockquote>


{% endblock %}